Source: parley
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Eshat Cakar <info@eshat.de>, Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               kde-sc-dev-latest (>= 4:4.12),
               kdelibs5-dev (>= 4:4.11),
               libattica-dev,
               libkdeedu-dev (>= 4:4.11),
               libx11-dev,
               libxml2-dev,
               libxrender-dev,
               libxslt-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12)
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/kde/kdeedu/parley
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-sc/parley.git
Vcs-Browser: http://anonscm.debian.org/git/pkg-kde/kde-sc/parley.git

Package: parley
Architecture: any
Depends: kdeedu-kvtml-data,
         parley-data (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: krosspython, python-kde4
Suggests: khelpcenter4
Description: vocabulary trainer
 Parley is a utility to help train vocabulary when learning a foreign language.
 It is intended as a replacement for flash cards.
 .
 This package is part of the KDE education module.

Package: parley-data
Architecture: all
Depends: ${misc:Depends}
Description: data files for the Parley vocabulary trainer
 This package contains architecture-independent data files for the Parley
 vocabulary trainer.
 .
 This package is part of the KDE education module.
